<div class="custom-content">
    <style>
        .custom-footer {
            margin: 0;
            padding: 20px;
            background: #555555;
            color: white;
        }

        .custom-footer a {
            color: white;
        }
    </style>
    <p class="custom-footer">
        最后编辑于 {{FILE_DATE}} |
        <a target="_blank"
           href="{{SOURCE_URL}}{{FILE_PATH}}">查看源码</a> |
        <a href="{{SOURCE_URL}}"
            target="_blank">#{{FILE_COMMIT_SHORT_ID}}</a>
</div>
