<div class="custom-content">
    <style>
        .custom-footer {
            margin: 0;
            padding: 20px;
            background: #555555;
            color: white;
        }

        .custom-footer a {
            color: white;
        }
    </style>
    <p class="custom-footer">
        最后编辑于 {{FILE_DATE}} |
        <a target="_blank"
           href="https://github.com/d7z-project/all-in-kubernetes/tree/{{COMMIT_ID}}{{FILE_PATH}}">源码</a> |
        #<a href="https://github.com/d7z-project/all-in-kubernetes/tree/{{FILE_COMMIT_ID}}"
            target="_blank">{{FILE_COMMIT_SHORT_ID}}</a>

</div>
