
ol, ul {
    padding-left: 5px;
    list-style: none;
}

li > p {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    line-height: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    font-size: large;
}

::-webkit-scrollbar {
    display: none;
}

body{
    padding-top: 5px;
}
