.paragraph > p {
    text-indent: 2em;
}


.adoc-menu ul {
    padding-inline-start: 20px;
    margin: 0;
}

.adoc-menu ol {
    padding-inline-start: 20px;
    margin: 0;
}

.adoc-menu li p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.adoc-menu h2, h3, h4, h5, h6 {
    margin: 0;
}

.adoc-menu a {
    text-decoration: none;
    color: black;
}

.logo-text {
    color: black;
}
